@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Overpass:300,400,700,900');
body {
font-family: 'Overpass', sans-serif;
}
.logo {
    margin-left: 0.9375rem;
}
.row {
    width: 89%;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding-top: 35px;
}

.full-page-slider {
    height: 88vh;
    background-color: #ddd;
}
.wrap-index {
    height: 88vh;
    background-color:#e79734;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
}
hr {
    border-bottom-color:#f3f3f3;
}
.header-app {
    height: 12vh;
    background-color: #fff; 
    box-shadow: rgba(0,0,0,.2) 0 1px 3px;
}
.header-app .button {
    margin:0;
}
.header-app .row {
    height: 100%;
}
.full-page-slider 
.orbit-container,
.full-page-slider .orbit-slide {
    height: 100%;
}
.img-user {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 100%;
}
.name-user {
    margin-bottom: 4px;
}
.logout-user {
    line-height: 1em;
}
.info-user {
    margin-right: 50px;
    font-size: .85em;
}

.wrap-intereses label {
    display: inline-block;
    padding: 10px 24px;
    background-color: #ddd;
    margin:4px 10px 16px;
    border-radius: 5px;
}
.wrap-intereses input {
    display:none;
}
.wrap-intereses {
    max-width: 620px;
    padding: 25px 0;
    margin: 0 auto 25px;
    text-align: center;
}
.wrap-intereses input:checked + label {
    background-color: red;
}
.button svg {
    fill: #fff;
    margin: 0 0 0 10px;
    height: 20px;
    vertical-align: middle;
}


.numLinea {
    display: inline-block; line-height: 32px; width: 32px; text-align: center;
    color: #fff;
    background-color: #333;
    border-radius: 2px;
    margin-right: 10px;
}
.l1 .numLinea {
    background-color: #30a3dc;
}
.l2 .numLinea {
    background-color: #e2001a;
}
.l3 .numLinea {
    background-color: #ffe114;
    color: #111;
}
.l4 .numLinea {
    background-color: #944248;
}
.l5 .numLinea {
    background-color: #96bf0d;
}
.l6 .numLinea {
    background-color: #9fa4a6;
}
.l7 .numLinea {
    background-color: #faa64a;
}
.l8 .numLinea {
    background-color: #f27ca2;
}
.l9 .numLinea {
    background-color: #a3228d;
}
.l10 .numLinea {
    background-color: #084594;
}
.l11 .numLinea {
    background-color: #008b43;
}
.l12 .numLinea {
    background-color: #a49a00;
}
.tabs-panel.is-active  {
    display: block;
}
.transporte-elegir label {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card {
    width: 226px;
    box-shadow: rgba(0,0,0,.1) 0 1px 4px;
}
.card__body {
    padding:20px 14px 24px;
}
.card__footer {
    background-color: #f8f8f8;
    padding-top: 18px;
}
.card__body__intereses {
    margin-bottom: 21px;
}
.card__body__interes {
    display: inline-block; 
    margin-right: 8px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 0 6px;
}
.card__body__transporte {
    margin-right: 4px;
}
.card__body__transporte .numLinea {
    margin-right: 0;
}

.wrap-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 25px 0;
}
.card__foto {
    height: 142px;
    position: relative;
    text-align: center;
    background-color: #ddd;
}
.card__foto img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.conexion {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    padding: 0 4px;
    font-size: .82em;
    z-index: 8;
    color: #fff;

}
.card__foto img {
    position: relative;
    z-index: 1;
}
.bg img {
    height: auto;
    width: 100%;
    transform: translateY(-20%);
            -webkit-filter: brightness(3);
    filter: brightness(3);
        -webkit-filter: blur(15px);
    filter: blur(15px);
}
.bg {
    position: absolute;
    opacity: .9;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;

}
.header-app .button svg {
    margin:0 4px 0 0;
    fill: #fff;
}
.btn-back {
    transform: rotate(180deg)
}
